@{
    ViewBag.Title = "Home";
}

<article class="home-article">
    <h1>Lab#1 - SOAP Service</h1>

    <div>
        <img src="~/Content/img/webservices.png" alt="Internet Services Image" />
    </div>
</article>